DIV.zoom_button {
	left: ((screen_w - menu_button_w*4)/2);
	w: (menu_button_w*3);
	top: ((screen_h - menu_button_w*3)/2);
	h: (menu_button_w*3);
}

VBOX.zoom_button {
	right: undef; bottom: undef;
	paddingleft:0; 
	paddingright:0;
	top:0; left:menu_button_w;
	h:(menu_button_w*3);
	w:menu_button_w;
}

HBOX.zoom_button {
	right: undef; bottom: undef;
	paddingleft:0; 
	paddingright:0;
	top:menu_button_w; left:0;
	w:(menu_button_w*3);
	h:menu_button_w;
	r2l_invert:0;
}

BUTTON.btn_map.zoom_button {
	box_align:"stretch"; 
	desired_w:menu_button_w; 
	desired_h:menu_button_w;
}

SPACER.zoom_button { 
	desired_w:menu_button_w;
	}
