@params {
	panel_mapheader_grad_red: "vertical", #ffffffff, 0.0, #ffffffff, 0.97, #ff9E171E, 0.97, #ff9E171E, 1.0;
	panel_map_grad_red: "vertical", #ffffffff, 0.0, #ffffffff, 0.97, #ff9E171E, 0.97, #ff9E171E, 1.0;
	listitem_route_red: #ff9E171E;
	listitem_route_start_red:  "vertical", #ff9E171E, 0.0, #ff9E171E, 0.5, #00000000, 0.51, #00000000, 1.0;
	listitem_route_dest_red: "vertical", #00000000, 0.0, #00000000, 0.5, #ff9E171E, 0.51, #ff9E171E, 1.0;
	listitem_route_dest_travelplanner_red: "vertical", #ff9E171E, 0.0, #ff9E171E, 0.5, #ff9E171E, 0.51, #ff9E171E, 1.0;
}