/*------- VW -- 29.01.2024  ------ */
SPRITE.poi_branded {
	left:0; right:0; top:0; bottom:0;
	valign:"CENTER"; align:"CENTER"; 
	zoom:"ZOOMVISIBLE";
	/*
	desired_w:brand_poi_image_w; 
	desired_h:brand_poi_image_h;
	
	image_w: svg_map_button_image_w; image_h: svg_map_button_image_h;
	*/
	image_w: brand_poi_image_w; image_h: brand_poi_image_h;
}

SPRITE.listitem.poi_branded {
	left:0; right:0; top:0; bottom:0;
	valign:"CENTER"; align:"CENTER"; 
	zoom:"ZOOMVISIBLE";
	
	desired_w:brand_poi_image_w; 
	desired_h:brand_poi_image_h;
	/*
	image_w: svg_map_button_image_w; image_h: svg_map_button_image_h;
	
	image_w: brand_poi_image_w; image_h: brand_poi_image_h;
	*/
}

DIV.list.poisearchcenter {
	w: list_w;
}

HBOX.poi_visibility {
	paddingleft:0; paddingright:0;
	desired_w: 60;
}

HBOX.listitem.poigroup_container{
	paddingleft:0; paddingright:0;
	desired_w:60;
}

HBOX.poi_visibility SPRITE.listitem{
	image_w:svg_listitem_image_w; image_h:svg_listitem_image_h;
}

SPRITE.listitem.poi_visibility{
	left:0; top:0; right:0; bottom:0; 
	position: "absolute";
}

SPRITE.listitem.svg.poi,
SPRITE.listitem.icon_list.svg.poi {
	desired_w:60; 	
	zoom: (%my.poi.current_group("kmlpoi") ? "ZOOMVISIBLE" : undef ) ;
	
}
