/*------- VW -- 30.01.2024  ------ */
DISTTEXT.detour_to_poi {
	left: 0; w: 100%; 
	top: 0; h:30%; 
	z: 56;
	font: defaultbd; 
	fontsize: 15; 
	color: btn_main_color; 
	color2: btn_main_color2;
	color3: btn_main_color3;
	align:"CENTER"; 
	valign:"CENTER"; 
	paddingleft: 0; 
	paddingright: 0;
}

DISTTEXT.distance_to_poi {
	left: 0; w: 100%; 
	top: 70%; h: 30%; 
	z: 56;
	font: defaultbd; 
	fontsize: 15; 
	color: btn_main_color; 
	color2: btn_main_color2;
	color3: btn_main_color3;
	align:"CENTER"; 
	valign:"CENTER"; 
	paddingleft: 0; 
	paddingright: 0;
}

SPRITE.detour_icon {
	left: 1%; w: 35%; top:1%; h:35%; z:60; valign:"CENTER";  align:"CENTER"; zoom:80%;
	ROTATE:(-(direction(%navigation.car.position, ui_Cockpit.splitpoi_position, %navigation.car.heading) + 1024) * 360.0 / 4096);
}

LIST2.spl_panel {
	left:0;	right:0; top:0;	bottom:0; 
	valign:"CENTER";
	reversed: 0;
}

SPRITE.poi_dir_split {
	right: 0; w: 86; top: 8%;  bottom: 30%; z:100;  valign:"TOP";  align: "CENTER";
	img: "poi_dir_split.svg"; zoom: 70%;
	rotate:(-(direction(%navigation.car.position, %*.position, %navigation.car.heading) + 1024) * 360.0 / 4096);
	
}

SPRITE.listitem_svg {
	right: 0; w: 86; top:30%; bottom: 30%; z:100;  valign:"CENTER";  align:"CENTER"; image_h: undef; zoom: 70%;
	rotate:(-(direction(%navigation.car.position, %*.position, %navigation.car.heading) + 1024) * 360.0 / 4096);
}

SPRITE.listitem.icon.mypoi.svg{
	desired_w:60; resize_bmp:1;
}

@import "~/common/ui/poi_splitscreen_landscape.css" landscape;
@import "~/common/ui/poi_splitscreen_portrait.css" portrait;