@params {
	panel_mapheader_grad_gold: "vertical", #ffffffff, 0.0, #ffffffff, 0.97, #ffeeb422, 0.97, #ffeeb422, 1.0;
	panel_map_grad_gold: "vertical", #ffffffff, 0.0, #ffffffff, 0.97, #ffeeb422, 0.97, #ffeeb422, 1.0;
	listitem_route_gold: #ffeeb422;
	listitem_route_start_gold: "vertical", #ffeeb422, 0.0, #ffeeb422, 0.5, #00000000, 0.51, #00000000, 1.0;
	listitem_route_dest_gold: "vertical", #00000000, 0.0, #00000000, 0.5, #ffeeb422, 0.51, #ffeeb422, 1.0;
	listitem_route_dest_travelplanner_gold: "vertical", #ffeeb422, 0.0, #ffeeb422, 0.5, #ffeeb422, 0.51, #ffeeb422, 1.0;
}