#ui_MapSidePanel_poi_around .2_1_1 {
	left:0;
	h:70;
	w:(50%);
	bottom:70;
}

#ui_MapSidePanel_poi_around .2_1_2 {
	left:50%;
	h:70;
	w:(50%);
	bottom:70;
}

#ui_MapSidePanel_poi_around .1_1_1 {
	left:0;
	w:100%;
	h:70;
	bottom:0;
}